html {
	font-size: 10px;
}

body {
	background: #ebebeb;
}

.content{
	margin: auto;
	max-width: 1600px;
}

	/*----------------------------- NEADER -----------------------------*/
nav {
	background: #fff;
}
.navbar{
	box-shadow: none;
}
nav .container {
	min-height: 90px;
}
nav ul{
	margin-right: 20px;
}
nav ul li {
	font-size: 14px;
	font-family: Roboto-Bold;
	letter-spacing: 0.75px;
	margin-left: 30px;
}
nav ul li a{
	color: #777777 !important;
}
nav ul li:nth-child(1) a{
	color: black !important;
}
nav .navbar-toggler {
	background: #c1c1c1;
}
.wrap{
	width: 0px;
	height: 35px;
	line-height: 40px;
	padding-right: 55px;
	border-radius: 5px;
	transition: all 0.5s ease;
	position: relative;
}
.input{
	border: 0;
	background: transparent;
	width: 0%;
	outline: none;
	font-family: sans-serif;
	font-size: 14px;
	color: #fff;
	transition: all 0.3s ease;
}
.wrap .fa{
	color: #fff;
	position: absolute;
	right: 17px;
	top: 7px;
	font-size: 22px;
	cursor: pointer;
}
.wrap.active{
	width: 200px;
	padding-left: 25px;
	transition: all 0.5s ease;
	background: #c1c1c1;
}
.input.active{
	width: 98%;
	padding-left: 5px;
	transition: all 0.5s 0.8s ease;
}
input::placeholder {
	color: #fff;
}
	/*----------------------------- END NEADER -----------------------------*/


	/*-----------------------------   SLIDER   -----------------------------*/
.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
	width: 30px;
	height: 30px;
	border:1px solid #fff;
	border-radius: 25px;
}
.carousel .carousel-indicators li {
	width: 1rem;
	height: 1rem;
}
.carousel-indicators .active{
	background-color: black;
}
.carousel-caption {
	bottom: 40%;
}
.carousel-caption h3{
	font-size: 48px;
	font-family: RobotoCondensed-Light;
	letter-spacing: .1em;
	text-transform: uppercase;
	background-color: #000;
	display: inline;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.carousel-caption p{
	font-size: 18px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top: 15px;
	color: #000;
}
	/*----------------------------- END SLIDER -----------------------------*/


	/*-----------------------------    MAIN    -----------------------------*/

.main_nav ul {
	border: 1px solid #c1c1c1;
	border-right: none;
	border-left: none;

}
.main_nav ul li {
	font-size: 14px;
	font-family: Roboto-Bold;
	letter-spacing: 0.75px;
	padding-right:  30px;
	padding-left: 10px;
	background: url('../img/border_main_nav.png') no-repeat center right;
}
.main_nav ul li:last-child {
	background: none;
	}
.main_nav ul li a{
	color: #777777 !important;
}
.main_nav ul li:nth-child(1) a{
	color: black !important;
}
main .navbar-toggler {
	background: #c1c1c1;
}

	/*-----------------------------  END MAIN  -----------------------------*/
