html {
	font-size: 10px;
	height: 100%
}

body {
	background: #ebebeb;
	height: 100%;
}

.wrapper{
	margin: auto;
	max-width: 1600px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #fafafa;
}
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
	/*----------------------------- NEADER -----------------------------*/
nav {
	background: #fff;
}
.navbar{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
nav .container {
	min-height: 90px;
}
nav ul{
	margin-right: 20px;
}
nav ul li {
	font-size: 14px;
	font-family: Roboto-Bold;
	letter-spacing: 0.75px;
	margin-left: 30px;
}
nav ul li a{
	color: #777777 !important;
}
nav ul li a:hover {
	color: #000 !important;
}
nav ul li a:hover:before {
	content: "\2014";
}
nav .navbar-toggler {
	background: #c1c1c1;
}
.wrap{
	width: 0px;
	height: 35px;
	line-height: 33px;
	padding-right: 55px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
}
.input{
	border: 0;
	background: transparent;
	width: 0%;
	outline: none;
	font-family: sans-serif;
	font-size: 18px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.wrap .fa{
	color: #fff;
	position: absolute;
	right: 17px;
	top: 7px;
	font-size: 22px;
	cursor: pointer;
}
.wrap.active{
	width: 200px;
	padding-left: 25px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #c1c1c1;
}
.input.active{
	width: 98%;
	padding-left: 5px;
	-webkit-transition: all 0.5s 0.8s ease;
	-o-transition: all 0.5s 0.8s ease;
	transition: all 0.5s 0.8s ease;
}
input::-webkit-input-placeholder {
	color: #fff;
}
input:-ms-input-placeholder {
	color: #fff;
}
input::-ms-input-placeholder {
	color: #fff;
}
input::placeholder {
	color: #fff;
}
	/*----------------------------- END NEADER -----------------------------*/


	/*-----------------------------   SLIDER   -----------------------------*/
.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
	width: 30px;
	height: 30px;
	border:1px solid #fff;
	border-radius: 25px;
}
.carousel-control-next-icon:hover, .carousel .carousel-control-prev-icon:hover {
	border: 1px solid rgba(0,0,0,0.6);
	box-shadow: inset  0 0 20px rgba(0,0,0,0.9);
}
.carousel .carousel-indicators li {
	width: 1rem;
	height: 1rem;
}
.carousel-indicators .active{
	background-color: black;
}
.carousel-caption {
	bottom: 40%;
}
.carousel-caption h3{
	font-size: 48px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #000;
	display: inline;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.carousel-caption p{
	font-size: 18px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 9px;
	text-transform: uppercase;
	margin-top: 15px;
	color: #000;
}
	/*----------------------------- END SLIDER -----------------------------*/


	/*-----------------------------    MAIN    -----------------------------*/
main .btn-blue-grey {
	font-size: 16px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 2px;
}
.main_nav {
	border: 1px solid #c1c1c1;
	border-right: none;
	border-left: none;
}
.main_nav a{
	font-size: 14px;
	font-family: Roboto-Bold;
	letter-spacing: 0.75px;
	color: #777777 ;
	text-transform: uppercase;
}
main .active{
	color: #000;
}
.main_nav  ul{
	width: 80%;
	margin: auto;
	padding: 20px 0;
}

.main_nav  ul li {
	background: url('../img/border_main_nav.png') no-repeat center right;
}
.all_img_wrapper {
	margin-bottom: 30px; 
}
.black_modal {
	width: 100%;
	position: relative;
}
.black_modal span {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 1s ease-out;
}
.black_modal span:hover {
	opacity: 1;
}
.tab-content h3,  main section h5 {
	font-size: 18px;
	font-family: Roboto-Regular;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
}
.tab-content p, main section p {
	font-size: 14px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 1px;
	color: #777777;
	margin-top: 15px;
}
main section h2 {
	font-family: Roboto-Regular;
	letter-spacing: 4px;
	text-transform: uppercase;
}
	/*-----------------------------  END MAIN  -----------------------------*/

	/*-----------------------------   FOOTER   -----------------------------*/

footer {
	border-top: 3px solid #f6f6f6;
	max-width: 1600px;
}
footer .container .flex-center {
	border: 1px solid #c1c1c1;
	border-right: none;
	border-left: none;
}


	/*----------------------------- END FOOTER -----------------------------*/

	/* ------------ HEADING PORTFOLIO------------ */
.heading figcaption {
	position: absolute;
	top: 30%;
	left: 16%;
	}
.heading h2{
	font-size: 48px;
	font-family: RobotoCondensed-Light;
	letter-spacing: .1em;
	color: #fff;
	text-transform: uppercase;
	background-color: #000;
	display: inline;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.heading h3{
	font-size: 18px;
	font-family: RobotoCondensed-Light;
	margin-top: 15px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: #000;
}
.heading p {
	font-size: 14px;
	font-family: RobotoCondensed-Light;
	letter-spacing: .1em;
	color: #777777;
	width: 65%;
	opacity: 0;
	transition: all 1s ease-out;
}

.heading p:hover {
	opacity: 1;
}
	 /* ------------ END HEADING PORTFOLIO ------------ */



	/* ------------ MEDIA ------------ */
@media (max-width : 1000px) {
	  		header .wrap {
	  			display: none;
	  		}
	  		.heading figcaption {
	  			display: none;
	  		}
	  		.text_info_team {
	  			background-color: #fafafa !important;
	  		}
	  		.main_nav ul {
	  			flex-direction: column !important;
	  		}
	  		.main_nav  ul li {
	  			background: none;
	  		}
	  		.black_modal span {
	  			display: none;
	  		}
	  	}