html {
	font-size: 10px;
	height: 100%
}

body {
	background: #ebebeb;
	height: 100%;
}

.wrapper{
	margin: auto;
	max-width: 1600px;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #fafafa;
}
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
	/*----------------------------- NEADER -----------------------------*/
nav {
	background: #fff;
}
.navbar{
	-webkit-box-shadow: none;
	        box-shadow: none;
}
nav .container {
	min-height: 90px;
}
nav ul{
	margin-right: 20px;
}
nav ul li {
	font-size: 14px;
	font-family: Roboto-Bold;
	letter-spacing: 0.75px;
	margin-left: 30px;
}
nav ul li a{
	color: #777777 !important;
}
nav ul li:nth-child(1) a{
	color: black !important;
}
nav .navbar-toggler {
	background: #c1c1c1;
}
.wrap{
	width: 0px;
	height: 35px;
	line-height: 40px;
	padding-right: 55px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
}
.input{
	border: 0;
	background: transparent;
	width: 0%;
	outline: none;
	font-family: sans-serif;
	font-size: 14px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.wrap .fa{
	color: #fff;
	position: absolute;
	right: 17px;
	top: 7px;
	font-size: 22px;
	cursor: pointer;
}
.wrap.active{
	width: 200px;
	padding-left: 25px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #c1c1c1;
}
.input.active{
	width: 98%;
	padding-left: 5px;
	-webkit-transition: all 0.5s 0.8s ease;
	-o-transition: all 0.5s 0.8s ease;
	transition: all 0.5s 0.8s ease;
}
input::-webkit-input-placeholder {
	color: #fff;
}
input:-ms-input-placeholder {
	color: #fff;
}
input::-ms-input-placeholder {
	color: #fff;
}
input::placeholder {
	color: #fff;
}
	/*----------------------------- END NEADER -----------------------------*/


	/*-----------------------------   SLIDER   -----------------------------*/
.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
	width: 30px;
	height: 30px;
	border:1px solid #fff;
	border-radius: 25px;
}
.carousel .carousel-indicators li {
	width: 1rem;
	height: 1rem;
}
.carousel-indicators .active{
	background-color: black;
}
.carousel-caption {
	bottom: 40%;
}
.carousel-caption h3{
	font-size: 48px;
	font-family: RobotoCondensed-Light;
	letter-spacing: .1em;
	text-transform: uppercase;
	background-color: #000;
	display: inline;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.carousel-caption p{
	font-size: 18px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top: 15px;
	color: #000;
}
	/*----------------------------- END SLIDER -----------------------------*/


	/*-----------------------------    MAIN    -----------------------------*/
main {
	padding: .1px;
}
.main_nav ul {
	border: 1px solid #c1c1c1;
	border-right: none;
	border-left: none;

}
.main_nav ul li {
	font-size: 14px;
	font-family: Roboto-Bold;
	letter-spacing: 0.75px;
	padding-right:  30px;
	padding-left: 10px;
	background: url('../img/border_main_nav.png') no-repeat center right;
}
.main_nav ul li:last-child {
	background: none;
	}
.main_nav ul li a{
	color: #777777 !important;
}
.main_nav ul li:nth-child(1) a{
	color: black !important;
}
main .navbar-toggler {
	background: #c1c1c1;
}
main .btn-blue-grey {
	font-size: 16px;
	font-family: RobotoCondensed-Light;
	letter-spacing: 2px;
}
main .d-flex {
	width: 100%;
	margin: auto;
}
	/*-----------------------------  END MAIN  -----------------------------*/

	/*-----------------------------   FOOTER   -----------------------------*/

footer {
	border-top: 3px solid #f6f6f6;
	max-width: 1600px;
}


	/*----------------------------- END FOOTER -----------------------------*/